# Python
__pycache__/
*.pyc
*.pyo
results/
results_small
results_1
.cache/
.mplconfig/
traditional_step4/results*/
Bi_Diffusion_SMILES
Data/
*Data
Generated_polymers

# 
experiments*/
Experiments*/

*.md
!README.md
!command.md

*.txt
*.csv
*.pkl
*.pt
*.png
*.pdf
*.svg
*.eps
*.tex
*.log
*.err
*.out
*.ipynb
*.pptx
*.sh
!scripts/run_step6_2.sh
!scripts/run_step6_2_hpo.sh
!scripts/run_step6_2_hpo_euler.sh
!scripts/run_step6_2_hpo_nrel.sh
!scripts/run_step6_2_hpo_and_6_3.sh
!scripts/run_step6_3.sh
!scripts/run_step6_2_euler.sh
!scripts/run_step6_2_nrel.sh
!scripts/run_step6_3_euler.sh
!scripts/run_step6_3_nrel.sh
!scripts/submit_step6_2_and_6_3_euler.sh
!scripts/submit_step6_2_and_6_3_nrel.sh
!scripts/submit_step6_2_hpo_and_6_3_euler.sh
!scripts/submit_step6_2_hpo_and_6_3_nrel.sh
*.gz
