# Python
__pycache__/
*.pyc
*.pyo
results/
results_small
results_1
.cache/
.mplconfig/
traditional_step4/results*/
Bi_Diffusion_SMILES
Data/
*Data
Generated_polymers
ml_simulation_comparation

# 
experiments*/
Experiments*/

*.md
!README.md
!command.md

*.txt
*.csv
*.pkl
*.pt
*.png
*.pdf
*.svg
*.eps
*.tex
*.log
*.err
*.out
*.ipynb
*.pptx
*.sh
!scripts/run_step5.sh
!scripts/run_step5_hpo.sh
!scripts/run_step5_hpo_euler.sh
!scripts/run_step5_hpo_nrel.sh
!scripts/run_step5_hpo_and_5_1.sh
!scripts/run_step5_1.sh
!scripts/run_step5_euler.sh
!scripts/run_step5_nrel.sh
!scripts/run_step5_1_euler.sh
!scripts/run_step5_1_nrel.sh
!scripts/submit_step5_and_5_1_euler.sh
!scripts/submit_step5_and_5_1_nrel.sh
!scripts/submit_step5_hpo_and_5_1_euler.sh
!scripts/submit_step5_hpo_and_5_1_nrel.sh
!scripts/submit_steps4_5_euler.sh
!scripts/submit_steps4_5_nrel.sh
*.gz
